
body{
	background: black;
}
.encabezado{
	background-color: #ff6600;
}
.logo{
	width: 15%;

}

header{
	width: 100%;
}

.navegacion{
	width: 800px;
	margin:  auto;
	background: black;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 220%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
.buttons {
	min-width: 100px;
	display: flex;
	justify-content: space-around;
}

.buttons a {
	text-decoration: none;
	font-size: 28px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: #314652;
	color: #f1f1f1;
	border-radius: 50%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
	transition: all .4s ease-in-out;
}

.buttons a:hover {
	transform: scale(1);
}

#titulo {

color:  #CE7D35;


}
#det {

color:  #CE7D35;


}
////////////////////////////////////
.carrusel{



}
.imagencentral{
	padding: 0.7%;


}
#mainImage1 {
	width: 10%;
	border-radius: 30px;
	filter: blur(5px);
}
#mainImage2 {
	width: 20%;
	border-radius: 30px;
	filter: blur(2px);
}
#mainImage3 {
	width: 30%;
	border-radius: 30px;
}
#mainImage4 {
	width: 20%;
	border-radius: 30px;
	filter: blur(2px);
}
#mainImage5 {
	width: 10%;
	border-radius: 30px;
	filter: blur(5px);
}


////////////////////////////////////
